body {
  min-height: 3000px;
  font-family: Comic sans ms;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #C4DDFF;
}

#projects {
  background-color: #C4DDFF;
}

footer {
  background-color: #001D6E;
}

section{
  padding-top: 5rem;
}

h1,h2{
  font-weight: bold;
}