body {
  min-height: 3000px;
  font-family: Comic sans ms;
}

.jumbotron {
  padding-top: 6rem;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/small-memory-lp.webp);
  background-size: cover;
  background-position: absolute;
  color: #ffffff;
}

#projects {
  background-color: #c4ddff;
}

.card{
  box-shadow: 0 20px 40px rgba(0,0,0, .2);

}

footer {
  background-color: #001d6e;
}

section {
  padding-top: 5rem;
}

h1,
h2 {
  font-weight: bold;
}
.card:hover {
  cursor: pointer;
}
