body {
  min-height: 3000px;
  font-family: Comic sans ms;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #c4ddff;
}

#projects {
  background-color: #c4ddff;
}

footer {
  background-color: #001d6e;
}

section {
  padding-top: 5rem;
}

h1,
h2 {
  font-weight: bold;
}
.card:hover {
  cursor: pointer;
}
